{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [pc]}.

{artifacts, ["priv/erl_fastpbkdf2.so"]}.

{port_specs,
 [
    {
        % Any arch
        ".*",
        % Create library
        "priv/erl_fastpbkdf2.so",
        % From files
        ["c_src/*.c"],
        % Using options
        [ {env, [{"CFLAGS", "$CFLAGS -std=c99 -O3 -g -Wall -Wextra -fPIC"},
                 {"LDLIBS", "$LDLIBS -lcrypto"},
                 {"DRV_LINK_TEMPLATE", "$DRV_LINK_TEMPLATE $LDLIBS"}]}]
     }
 ]}.

{provider_hooks,
 [
    {post,
     [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
     ]}
 ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
