{erl_opts, []}.

{deps, [
    {fast_pbkdf2, "1.0.5"}
]}.

{project_plugins, [
    rebar3_hex,
    rebar3_ex_doc
]}.


{profiles, [
  {test, [
    {erl_opts, []},
    {deps, [
      {proper, "1.4.0"},
      {base16, "2.0.1"}
     ]},
    {plugins, [
       {rebar3_codecov, "0.6.0"}
     ]},
    {cover_enabled, true},
    {cover_export_enabled, true}
   ]},
  {prod, [
   {erl_opts, [inline_list_funcs, deterministic]}
   ]}
 ]
}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.
{ex_doc, [
     {source_url, <<"https://github.com/esl/fast_scram">>},
     {extras, [<<"README.md">>, <<"LICENSE">>]},
     {main, <<"readme">>}
]}.
